
<div class="container-fluid">
  <div class = "row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

<div class="card" style="width: 50rem;">
    <img src="https://c.pxhere.com/photos/42/91/dog_pet_white_art_abstract_retriever_vintage_portrait-1213301.jpg!d" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{clienteDetail.nombre}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Correo electrónico: {{clienteDetail.correo}}</li>
      <li class="list-group-item">Información de contacto: {{clienteDetail.infoContacto}}</li>
    </ul>
  </div>
  <div class="col-md-3"></div>

</div>
  </div>
  <br><br>
