<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container-fluid">
    <div class="row">
        <div class="col-2"> </div>
        <div class="col-8" >
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                  <h4 class="card-title mt-6 text-center">Crea una cuenta</h4>
                  <p class="text-center">Se parte de Canem!</p>
                  
                  
                  <form>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                        <input name="" class="form-control" placeholder="Nombre" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                     </div>
                        <input name="" class="form-control" placeholder="Correo" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    
                      <input name="" class="form-control" placeholder="Teléfono" type="text">
                    </div> <!-- form-group// -->
                    
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                        <input class="form-control" placeholder="Contraseña" type="password">
                    </div> <!-- form-group// -->
                                                         
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Crear cuenta  </button>
                    </div> <!-- form-group// -->      
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block"> Nuestros clientes  </button>
                    </div> <!-- form-group// -->                                                                   
                </form>
                </article>
                </div> <!-- card.// -->
        </div>  
       
        <div class="col-2" >
           <!---- <img src="http://pngimg.com/uploads/dog/dog_PNG50321.png" class="rounded mx-auto d-block" alt="..."  height="400" width="250">>//-->
        </div>
    </div>
</div>
 

     


