<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script language="javascript">
    alert("HOLA");
        //VALIDACION CHECKBOX
        function validacion(formu, obj) {
          limite=1; //limite de checks a seleccionar
          num=0;
          if (obj.checked) {
            for (i=0; ele=document.getElementById(formu).children[i]; i++)
              if (ele.checked) num++;
          if (num>limite)
            obj.checked=false;
          }
        }  
        </script>



<div class = "container-fluid" id = "123">

  <div class = "row">

    <div class = "col-1">

    </div>


      <div class = "col-4">
          <div class="card" style = "font-size: 14px">
              <article class="card-group-item">
                  <header class="card-header">
                      <h6 class="title" style = "font-size: 16px">Filtrar por precio</h6>
                  </header>
                  <div class="filter-content">
                      <div class="card-body">
                      <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Min</label>
                        <input type="text" style = "font-size: 14px" class="form-control" id="inputMin" placeholder="$0">
                      </div>
                      <div class="form-group col-md-6 text-right">
                        <label>Max</label>
                        <input type="text" class="form-control" placeholder="$25000" id="inputMax">

                      </div>
                      </div>
                      </div> <!-- card-body.// -->
                  </div>
              </article> <!-- card-group-item.// -->
              <article class="card-group-item">
                  <header class="card-header">
                      <h6 class="title" style = "font-size: 16px">Filtrar por zona</h6>
                  </header>
                  <div class="filter-content" >
                      <div class="car d-body">
                          <div class="custom-control custom-checkbox">

                                  <span class="float-right badge badge-light round" id = "suba"></span>
                                <input type="radio" name="joke" (click) = "setZona('suba')">
                                <label> &nbsp;&nbsp;&nbsp; Suba</label>
                          </div> <!-- form-check.// -->
          
                          <div class="custom-control custom-checkbox">
                              <span class="float-right badge badge-light round" id = "usaquen"></span>
                                <input type="radio"  name="joke" (click) = "setZona('usaquen')">
                               <label>&nbsp;&nbsp;&nbsp; Usaquen</label>
                          </div> <!-- form-check.// -->
          
                          <div class="custom-control custom-checkbox">
                              <span class="float-right badge badge-light round" id = "chapinero"></span>
                                <input type="radio"  name="joke" (click) = "setZona('chapinero')">
                                <label>&nbsp;&nbsp;&nbsp; Chapinero</label>
                          </div> <!-- form-check.// -->
          
                          <div class="custom-control custom-checkbox">
                              <span class="float-right badge badge-light round" id = "fontibon"></span>
                                <input type="radio"  name="joke" (click) = "setZona('fontibon')">
                                <label>&nbsp;&nbsp;&nbsp; Fontibon</label>
                          </div> <!-- form-check.// -->
                      </div> <!-- card-body.// -->
                  </div>
              </article> <!-- card-group-item.// -->
          </div> <!-- card.// -->
    
          <div class="card">
                <article class="card-group-item">

                        <header class="card-header">
                                <h6 class="title" style = "font-size: 16px">Filtrar por calificacion</h6>
                            </header>
              

                        <div class="container-fluid">
                                <div class="row">
                                <div class="rating">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                  <input type="radio" id="star5" name="rating" value="5" (click) = "setNumHuella(5)"/><label for="star5" title="Excelente">5 stars</label>
                                  &nbsp;
                                  &nbsp;
                                  &nbsp;
                                  <input type="radio" id="star4" name="rating" value="4" (click) = "setNumHuella(4)"/><label for="star4" title="Bueno">4 stars</label>
                                  &nbsp;
                                  &nbsp;
                                  &nbsp;
                                  <input type="radio" id="star3" name="rating" value="3" (click) = "setNumHuella(3)"/><label for="star3" title="Regular">3 stars</label>
                                  &nbsp;
                                  &nbsp;
                                  &nbsp;
                                  <input type="radio" id="star2" name="rating" value="2" (click) = "setNumHuella(2)"/><label for="star2" title="Meh">2 stars</label>
                                  &nbsp;
                                  &nbsp;
                                  &nbsp;
                                  <input type="radio" id="star1" name="rating" value="1" (click) = "setNumHuella(1)"/><label for="star1" title="Pesimo">1 star</label>
                                  &nbsp;
                                  &nbsp;
                                  &nbsp;
                                  &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                                </div>
                        </div>

                
                </article>


                <button id = "button-filterByPrice" type="button" class="btn btn-secondary" (click) = "getPaseadoresFiltroPrecio()">Buscar</button>
                <button id = "reset" type="button" class="btn btn-light" (click) = "reiniciar()">Reiniciar busqueda</button>
    
          </div>
        </div>

    <div class = "col-6">
<!--Lista de paseadores-->
      <div class="well well-sm" style="background-color:white">
          <div class="row" *ngFor = "let p of paseadores">
              <div class="col-sm-6 col-md-4">
                  <img src={{p.foto}} alt="" class="img-rounded img-responsive" />
              </div>
              <div class="col-sm-6 col-md-8">
                  <h3> {{p.nombre}} </h3>
           
                  <h4>
                      <i class="glyphicon glyphicon-user"></i>{{p.infoAdicional}}
                      <br/>
                      <i class="glyphicon glyphicon-envelope"></i>{{p.correo}}
                      <br />
                      <i class="glyphicon glyphicon-euro"></i>{{p.precio}}</h4>
                  <!-- Split button -->
                  <div class="btn-group">
                      <button type="button" class="btn btn-primary" routerLink = "/paseadores/{{p.id}}" >
                          Ver más informacion
                      </button>
                  </div>
              </div>
          </div>
      </div>

    </div>

    <div class = "col-1">

        </div>


  </div>

</div>




            