<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald|PT+Sans" rel="stylesheet"> 

<section class= "hack">

<div class="container">
	<div class="row bg-info card my-4 mb-3 pd-l-2">
		<h3>
		    <span class="fa fa-question-circle text-white"></span>
		    Preguntas frecuentes
		</h3>
	</div>
	
	<div class="row">
	    <p class="col-sm-6 col-md-12">
	    A continuación, resolvemos algunas de las preguntas frecuentes de nuestra plataforma
	    </p>
  
	    <ul id="accordion" class="col-sm-6 col-md-12">
	        <!-- Question one -->
	        <li>
	            <div id="choose" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
	                ¿Con qué frecuencia actualizan el sistema de los paseos?
	                <span class="fa fa-chevron-up fa-1x text-info pull-right"></span>
	            </div>
	            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Hasta el momento, solo se han hecho tres modificaciones relevantes, en las cuales se solucionaron los problemas más frecuentes de los clientes con relación al sistema de pagos y de reservas de paseos.
                  </div>
                </div>
	        </li>
	        
	        <!-- Question two -->
	        <li>
	            <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	                ¿A dónde me remito en caso de tener quejas o reclamos?
	                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
	            </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    En caso de tener alguna queja o reclamo, puedes remitirte a nuestro sistema de peticiones, quejas y reclamos (PQR), en donde debes ingresar tus datos personales y enviar la queja correspondiente, a la cual responderemos en el menor tiempo posible.
                  </div>
                </div>
	        </li>
	        
	        <!-- Question three -->
	        <li>
	            <div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	                ¿Tienen alguna sucursal física en la ciudad?
	                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
	            </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                   Hasta ahora no. Sin embargo, está en nuestros planes a futuro instalar la primera sucursal de Canem cerca a la universidad de los Andes.
                  </div>
                </div>
	        </li>
	        
	        <!-- Question Four -->
	        <li>
	            <div class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	                ¿Cómo puedo presentar una queja?
	                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
	            </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    Debes ingresar tus datos y enviarlos con la queja correspondiente, para que podamos responderte en el menor tiempo posible.
                  </div>
                </div>
	        </li>
	        
	        <!-- Questiion Five -->
	        <li>
	            <div class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
	                ¿Cómo puedo unirme al equipo de desarrollo?
	                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
	            </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body">
                   Para unirte a nuestro equipo debes enviar un correo a n.potes@uniandes.edu.co o canem-trabajaconnosotros@gmail.com, responderemos en el menor tiempo posible.
                  </div>
                </div>
	        </li>
	        
	        <!-- Question Six-->
	        <li>
	            <div class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
	                ¿En caso de olvidar mi contraseña, qué puedo hacer?
	                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
	            </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Si olvidaste tu contraseña, puedes hacer click en la opción "¿Olvidaste tu contraseña?" en el menú de Registro de la plataforma.
                  </div>
                </div>
	        </li>
	    </ul>
	</div>
</div>
</section>